{% extends 'admin/admin_base.html' %}

{% block title %}STComix Admin{% endblock %}
{% block admin_content %}
<style>
    a:hover{
        text-decoration:none;
        color: #000000;
    }
</style>
<div class="container">
    <div class="page-header">
        <h1>Future Blog 后台管理</h1>
    </div>
    <div class="row">
      <div class="col col-5">
        <div class="shadow bg-white rounded">
          <a href='/user/{{ current_user.username }}'><div class="card mb-3 border-white" style="max-width: 540px;">
            <div class="row">
              <div class="col col-lg-5">
                <!--<div class="bg-secondary rounded-circle ml-2">
                  &nbsp;<p class="fa fa-user text-center m-4 mt-3 text-light" style="font-size: 120px;"></p>
                </div>-->
                <img class="rounded-circle profile-thumbnail m-1" src="{{ current_user.gravatar(size=167) }}">
              </div>
              <div class="col col-lg-7">
                <p><h3 class="ml-4 mt-5 text-primary">{{ current_user.username }}</h3><hr style="width:80%;"><p class="ml-4">{{ current_user.role.name }}</p></p>
              </div>
            </div>
            <div class="row">
              <div class="col ml-4 mr-4">
                <hr style="width: 100%;">
                <p>{{ current_user.name }}，来自{{ current_user.location }}</p>
                <p>{{ current_user.about_me }}</p>
                <p>注册于{{ moment(current_user.member_since).format('LLL') }}</p>
                <p>最近一次登录{{ moment(current_user.last_seen).format('LLL') }}</p>
              </div>
            </div>
          </div></a>
      </div>
      </div>
      <div class="col col-7">
        <div class="shadow bg-white rounded">
            <div class="card mb-3 border-white" style="max-width: 540px;">
                <div class="m-3">
                  <h4>网站信息</h4><br>
                  <p>版本：<i>4.1.3</i></p>
                  <p>数据库：SQLite</p>
                  <p>前端：Bootstrap4</p>
                  <p>后端：Python</p>
                  <p>源码仓库：<ins><a href="https://github.com/PythonSamZhang/Future-Blog">Github</a></ins></p>
                  <p>Copyright &copy; 2020&nbsp; All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col col-4">
            <div class="shadow bg-white rounded">
                <a href='users/'><div class="card mb-3 border-white" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4 bg-success rounded-left">
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class="fa fa-users text-center mb-3 text-light" style="font-size: 50px;"></p>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h4 class="card-title text-center">{{ User.query.count() }}</h4>
                          <p class="card-text text-center">用户量</p>
                        </div>
                      </div>
                    </div>
                </div></a>
            </div>
        </div>
        <div class="col col-4">
            <div class="shadow bg-white rounded">
                <a href='posts/'><div class="card mb-3 border-white" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4 bg-warning rounded-left">
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class="fa fa-file-alt text-center mb-3 text-light" style="font-size: 50px;"></p>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h4 class="card-title text-center">{{ Post.query.count() }}</h4>
                          <p class="card-text text-center">博客数</p>
                        </div>
                      </div>
                    </div>
                </div></a>
            </div>
        </div>
        <div class="col col-4">
            <div class="shadow bg-white rounded">
                <a href='comments/'><div class="card mb-3 border-white" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4 bg-primary rounded-left">
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class="fa fa-comments text-center mb-3 text-light" style="font-size: 50px;"></p>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h4 class="card-title text-center">{{ Comment.query.count() }}</h4>
                          <p class="card-text text-center">评论数</p>
                        </div>
                      </div>
                    </div>
                </div></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}