{% extends 'base.html' %}

{% block title %}Future Blog - {{ category.name }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>分类「{{ category.name }}」</h1>
</div>
<div class="container">
    <ul class="posts">
        {% for post in posts %}
        {% if post.category_id == category.id %}
        <li class="post">
            <div class="post-thumbnail">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    <img class="rounded-circle profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
                </a>
            </div>
            <div class="post-content">
                <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
                <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
                <div class="post-body">
                    {% if post.title != None %}
                        <h1><a href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a></h1>
                    {% endif %}
                    {% if post.body_html %}
                        {% if post.body_html | length >= 200 %}
                            {{ post.body_html[:200] | safe }}... &nbsp;&nbsp;
                            <a href="/blog/post/{{ post.id }}/">
                                阅读全文
                            </a>
                        {% else %}
                            {{ post.body_html | safe }}
                        {% endif %}
                    {% else %}
                    {% if post.body | length >= 200 %}
                        {{ post.body[:200] | safe }}
                    {% else %}
                        {{ post.body | safe }}
                    {% endif %}
                    {% endif %}
                </div>
                <!--<div class="footer ml-auto" style="float: right;">
                    <span class="text-muted">Read {{ post.read_by }}</span>
                </div>
                <div class="footer ml-auto">
                    <br>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('.like', id=post.id) }}" class="btn btn-outline-danger btn-sm">
                        <i class="fa fa-heart"></i>  Like <span class="badge badge-light badge-pill">
                            {{ post.likes.count() }}
                        </span>
                    </a>
                    <a href="{{ url_for('.favorite', id=post.id) }}" class="btn btn-outline-warning btn-sm">
                        <i class="fa fa-dropbox"></i> Add to favorites
                    </a>
                    {% else %}
                    <span class="badge badge-outline-danger">
                        <i class="fa fa-heart"></i>  Like
                        <span class="badge badge-light badge-pill">
                            {{ post.likes.count() }}
                        </span>
                    </span>
                    {% endif %}
                </div>
                <br>-->
                <div class="post-footer">
                    {% if post.categories != None %}
                    <a class="badge badge-secondary badge-pill" href="/category/{{ post.categories.id }}/">
                        {{ post.categories.name }}
                    </a>
                    <br>
                    {% endif %}
                    <a href="{{ url_for('.post', id=post.id) }}" class="badge badge-primary">
                        链接
                    </a>
                    <a href="{{ url_for('.post', id=post.id) }}#comments" class="badge badge-success">
                        {{ post.comments.count() }} 条评论
                    </a>
                    {% if current_user == post.author %}
                    <a href="{{ url_for('.edit', id=post.id) }}" class="badge badge-light">
                        编辑
                    </a>
                    {% elif current_user.is_admin() %}
                    <a href="{{ url_for('.edit', id=post.id) }}" class="badge badge-warning">
                        编辑[管理员]
                    </a>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}